<!DOCTYPE html>
<html>
  <head>
    <title>Coronavirus live by Lap Tran</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Let contribute everything you can to stop coronavirus</h1>
    <br/>
    <h2>Install coronavirus reports application for latest status update and useful instructions to protect yourself and other from coronavirus.</h2>
    <a href="https://play.google.com/store/apps/details?id=com.coronaviruscheck">Coronavirus Reports</a>
  </body>
</html>
